@import '~assets/css/global';

$c: 'BLazyMedia';

.#{$c} {
  margin-bottom: 2em;

  &__image-wrap {
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    width: 100%;
    margin: auto;
  }

  &__video-wrap {
    padding-top: 56.25%;
    position: relative;
  }

  &__video,
  &__iframe,
  &__image,
  .ls-blur-up-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__image,
  .ls-blur-up-img {
    display: block;
    font-family: 'blur-up: always', 'object-fit: cover';
    object-fit: cover;
  }

  /*
  ** lazysizes – loading and blur animations.
  */
  .ls-blur-up-is-loading {
    visibility: hidden;
  }

  .lazyload {
    &:not([src]) {
      visibility: hidden;
    }
  }

  .ls-blur-up-img {
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 0.25s,
    filter 0.25s;
    filter: blur(20px);

    &.ls-inview {
      &.ls-original-loaded {
        opacity: 0;
      }
    }
  }
}
