# Make sure to add your ignored files as well to .eslintignore
# We can't ignore /packages/*/dist/*.js because of npm publishing
# But we wan't them to exclude from linting!
# https://github.com/eslint/eslint/issues/9794

# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log

# Nuxt build
.nuxt

# Nuxt generate
/dist

# PWA
static/sw.js

# Sitemap
static/sitemap.xml

# Static JSON Files
static/data

# Webpack Monitor Stats
.monitor

tsconfig.json

.idea
