@import '~assets/css/global';
$c: 'TheNavigation';

$c-the-navigation-spacer-default: 1em;
$c-the-navigation-margin-top: 10rem;

.#{$c} {
  position: relative;

  /*
   * Styling for mobile nav.
   */

  &__wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: $s-color-white;

    &.is-open {
      display: block;
    }
  }

  &__scroll-wrapper {
    width: 100%;
    max-height: calc(100% - #{$c-the-navigation-margin-top});
    min-height: calc(100% - #{$c-the-navigation-margin-top});
    margin-top: $c-the-navigation-margin-top;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
    display: flex;
    flex-direction: column;
    padding: 0 $s-size-gutter-small $s-size-gutter-small;
  }

  &__list {
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-bottom: $s-size-spacer-small;
  }

  &__item {
    width: 100%;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }

    &--has-children {
      position: relative;

      // todo we should be able to access the sub-list by tab (a11-y)
      &:hover {
        .#{$c}__sub-list {
          visibility: visible;
        }
      }
    }

    &--child {
      display: block;
      padding-left: 1rem;
      margin-bottom: $c-the-navigation-spacer-default / 2;
      white-space: nowrap;
    }

    a {
      @include hocus-focus($type: textcolor, $color: $s-color-primary);
      text-decoration: none;
    }
  }

  &__link {
    &.is-active-exact {
      color: $s-color-primary;
    }
  }

  &__sub-list {
    padding-left: $c-the-navigation-spacer-default;
  }

  &__lang-item {
    text-transform: capitalize;

    &:not(:last-child) {
      &::after {
        content: ' / ';
      }
    }
  }
}


/*
 * IE Fixes
 * Targets IE 11
 */

// sass-lint:disable-line force-element-nesting
.flexbox.no-flexboxlegacy.flexboxtweener {

  .#{$c}__scroll-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .#{$c}__list {

    @include mq($from: medium) {
      padding-left: 0;
    }
  }
}
