@import '~assets/css/global';
$c: 'TheNavigation';

$c-the-navigation-spacer-default: 1em;
$c-the-navigation-margin-top: 8rem;

.#{$c} {
  position: relative;

  /*
   * Styling for mobile nav.
   */

  &__burger {
    @include mq($from: medium) {
      display: none;
    }
  }

  &__wrap {
    @include mq($to: medium) {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      opacity: 0;
      background: $s-color-white;
      transition: opacity $s-animation-duration-default, visibility $s-animation-duration-default 0s;

      &.is-open {
        visibility: visible;
        opacity: 1;
        transition: opacity $s-animation-duration-default, visibility 0s;
      }
    }
  }

  &__scroll-wrapper {
    @include mq($to: medium) {
      width: 100%;
      max-height: calc(100% - #{$c-the-navigation-margin-top});
      min-height: calc(100% - #{$c-the-navigation-margin-top});
      margin-top: $c-the-navigation-margin-top;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
      display: flex;
      flex-direction: column;
      padding: 0 $s-size-gutter-small $s-size-gutter-small;
    }
  }

  &__list {
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }

    &--has-children {
      position: relative;

      // TODO: we should be able to access the sub-list by tab (a11-y)
      &:hover {
        .#{$c}__sub-list {
          visibility: visible;
        }
      }
    }

    &--child {
      display: block;
      padding-left: 1rem;
      margin-bottom: $c-the-navigation-spacer-default / 2;
      white-space: nowrap;
    }

    a {
      @include hocus-focus($type: outline, $color: $s-color-primary, $offset: 0.1rem);
      text-decoration: none;
    }

    @include mq($from: medium) {
      display: inline-block;
      margin: 0 1rem;
    }
  }

  &__link {
    &.is-active {
      font-weight: bold;
      color: $s-color-primary;
    }

    &.is-active-exact {
      color: $s-color-primary;
      font-weight: bold;
    }

    &.custom-inactive {
      font-weight: normal;
    }

    &--lang {
      &.is-active-exact {
        color: $s-color-primary;
        font-weight: bold;
      }

      &.is-active {
        color: $s-color-primary;
      }

      &--lang {
        margin: 0;

        &.is-active {
          font-weight: bold;
        }
      }
    }
  }

  &__sub-list {
    padding-left: $c-the-navigation-spacer-default;

    @include mq($from: medium) {
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0;
      visibility: hidden;
    }
  }

  &__lang-item {
    text-transform: capitalize;
    margin-right: 1em;
  }
}


/*
 * IE Fixes
 * Targets IE 11
 */

// sass-lint:disable-line force-element-nesting
.flexbox.no-flexboxlegacy.flexboxtweener {

  .#{$c}__scroll-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .#{$c}__list {

    @include mq($from: medium) {
      padding-left: 0;
    }
  }
}
