@import '~assets/css/global';

$c: 'TheHeaderBar';
$c-the-headerbar-shadow-color: rgba($s-color-black, 0.1);
$c-the-headerbar-shadow-size: 5px;

.#{$c} {
  display: flex;
  align-items: center;
  background-color: $s-color-white;
  padding: $s-size-gutter-small;
  z-index: z('menu');
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color $s-animation-duration-default, top $s-animation-duration-default, padding $s-animation-duration-default;

  &__item {
    &:first-child {
      @include mq($to: medium) {
        flex: 0 1 100%;
        z-index: 1; // lift it above nav (second item)
      }
    }

    &--nav {
      @include mq($from: medium) {
        flex: 0 1 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}

/*
 * IE Fixes
 * Targets IE 11
 */

.flexbox.no-flexboxlegacy.flexboxtweener {
  // sass-lint:disable-line force-element-nesting

  .#{$c}__item {
    padding-top: 2rem;
  }
}
