/*
 * Page transition
 */
.page-enter-active,
.page-leave-active {
  transition: opacity $s-animation-duration-default $s-animation-easing-default;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

/*
 * Animation: Fade
 */
.u-anim-fade-enter-active,
.u-anim-fade-leave-active {
  transition-duration: $s-animation-duration-default;
  transition-property: opacity;
}

.u-anim-fade-enter,
.u-anim-fade-leave-active {
  opacity: 0;
}
