@import '~assets/css/global';

$c: 'BPageBuilder';

.#{$c} {

  &__item {
    &:last-child {
      margin-bottom: 1em;

      @include mq($from: medium) {
        margin-bottom: 1em;
      }
    }
  }

  &.has-border-bottom {
    border-bottom: 6px solid $s-color-black;
  }
}
