@import '~assets/css/global';

$c: 'GridOverlay';
// $c-gridoverlay-some-variable: 'Some Value';

.#{$c} {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  &__grid-wrap {
    @include set-gutter('medium');
    height: 100vh;
  }

  &__grid {
    height: 100vh;
    background: susy-svg-grid($colors: rgba(#c7eaee, 0.5)) no-repeat scroll; // sass-lint:disable-line no-color-literals
  }
}
