@import '../assets/css/global';

$l: 'Layout';
$p: 'Page';

.#{$l} {
  margin: auto;
  display: flex;
  min-height: 100vh; // needed to make footer sticky
  flex-direction: column;

  &__content {
    flex: 1;
    padding-top: $s-size-spacer-large;
  }
}

.#{$p} {
  padding-bottom: $s-size-spacer-medium;

  @include mq($from: medium) {
    padding-bottom: $s-size-spacer-increased;
  }
}
