@import '../assets/css/global';

$l: 'Layout';
$p: 'Page';

.#{$l} {
  margin: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__content {
    flex: 1;
    padding-top: px-to-rem($s-size-spacer-small);

    @include mq($from: medium) {
      padding-top: px-to-rem($s-size-spacer-medium);
    }
  }
}

.#{$p} {
  padding-bottom: px-to-rem($s-size-spacer-medium);

  @include mq($from: medium) {
    padding-bottom: px-to-rem($s-size-spacer-increased);
  }
}
