@import '~assets/css/global';

$c: 'CookieBar';
$cookie: 'Cookie';
$c-cookiebar-shadow-color: rgba($s-color-black, 0.1);
$c-cookiebar-shadow-size: 0.5rem;

.#{$c} {
  .#{$cookie} {
    &--default-theme {
      box-shadow: 0 -$c-cookiebar-shadow-size $c-cookiebar-shadow-size $c-cookiebar-shadow-color;
      padding: $s-size-gutter-small;
      background: $s-color-white;

      @include mq($from: medium) {
        padding: $s-size-gutter-medium;
      }

      .#{$cookie} {
        &__content { // sass-lint:disable-line nesting-depth
          width: 100%;
          margin: 0;
        }

        &__buttons { // sass-lint:disable-line nesting-depth
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        &__button { // sass-lint:disable-line nesting-depth
          margin: 1em 0 0;

          &:not(:last-child) {
            margin-right: 1em;
          }
        }
      }
    }
  }
}
